In [ ]:
import numpy as np

Info :

1D array, 2D array, 3D array

Numpy uses fixed type, binary-->Int32 for numpy, numpy has smaller item, faster, no type checking
it uses contiguos memory (all blocks are together) Single Instruction Multiple Data Vector processing

but list has size, ref, type and value of object which has more data + makes list slower

In [ ]:
a = np.array([1,2,3])
b = np.array([1,2,5])

In [ ]:
print(a, b)

In [ ]:
print(a*b)

In [ ]:
aab = np.array([[1,2,3,4],[2,3,4,5],[4,5,6,7]],dtype = "int16" )
print(aab)

In [ ]:
a.ndim

In [ ]:
aab.shape

In [ ]:
aab.dtype

In [ ]:
aab.itemsize

In [ ]:
aab.nbytes

In [ ]:
g = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(g)

In [ ]:
g.shape

In [ ]:
#Get an element
g[1,5]

In [ ]:
#Get specific Row
g[0,:]

In [ ]:
#Get specific column
g[:,2]

In [ ]:
#[startindex:endindex:stepsize]
g[0,1:6:2]

In [ ]:
g[1,5] = 20
print(g)

In [ ]:
g[:,2] = [3,4]
print(g)

In [ ]:
t = np.array([[[1,2],[3,4]],[[5,6],[7,8]]])
print(t)

In [ ]:
#Get element (outside in)
t[0,1,0]

In [ ]:
t[:,1,:]=[[9,9],[8,8]]
print(t)

In [ ]:
np.zeros((5,2,3))

In [ ]:
np.ones((4,2,3), dtype="int16")

In [ ]:
np.full((2,2),99)

In [ ]:
np.full_like(g,8)

In [ ]:
np.random.rand(3,4,2)

In [ ]:
np.random.randint(9, size=(3,4,2))

In [ ]:
np.identity(5)

In [ ]:
arr = np.array([[1,2,3]])
r1 = np.repeat(arr,4, axis=0)
print(r1)

In [ ]:
arr1 = np.full((5,5), 1)
print(arr1)

In [ ]:
arr1[1,:]= arr1[3] = [1,0,0,0,1]
print(arr1)

In [ ]:
arr1[2,1:4] = [0,9,0]
print(arr1)

In [ ]:
a = np.array([1,2,3])
b = a.copy()
b[0] = 100
print(b)

MATHS

In [ ]:
a = np.array([1,2,3])

In [ ]:
a + 2

In [ ]:
a-2

In [ ]:
b = [7,6,4]
a*b

In [ ]:
b/a

In [ ]:
b//a

In [ ]:
b%a

In [ ]:
a**3

In [ ]:
np.cos(a)

In [ ]:
a1 = np.ones((2,3))
print(a1)

b1 = np.full((3,2), 2)
print(b1)

In [ ]:
np.matmul(a1,b1)

In [ ]:
np.linalg.det(np.matmul(a1,b1))

In [ ]:
#Find the determinant
np.linalg.det(arr1)

Determinant
Trace
Singular Vector
Eigen Values
Inverse
Etc.

Statistics

In [ ]:
stats = np.array([[1,2,3],[4,5,6]])
stats

In [ ]:
np.mean(stats)

In [ ]:
np.min(stats, axis =1)

In [ ]:
np.max(stats, axis =0)

In [ ]:
np.sum(stats)

# Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_table('http://bit.ly/chiporders')
df.head()

In [ ]:
x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

In [ ]:
2*2**3

In [ ]:
user_cols = ['S.no','Age', 'Sex', 'Prof', 'Code']
data = pd.read_table('http://bit.ly/movieusers', delimiter = '|', header = None, names = user_cols)
data.head()

In [ ]:
df = pd.read_csv('http://bit.ly/uforeports')
df.head()

In [ ]:
type(df['City'])

In [ ]:
df.City

In [ ]:
df['Shape Reported']

In [ ]:
df['Location'] = df.City + ", " + df.State

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.rename(columns = {'Colours Reported':'Colours', 'Shape Reported':'Shape'}, inplace = True)

In [ ]:
df.head()

In [ ]:
movies = pd.read_csv("http://bit.ly/imdbratings")
movies.head()

In [ ]:
df.columns = df.columns.str.replace('i', '_')
df.head()

In [ ]:
movies.shape

In [ ]:
movies.describe()

In [ ]:
movies.info()

In [ ]:
movies.describe(include=['object'])

In [ ]:
mov = pd.read_csv("http://bit.ly/imdbratings")
mov.head()

In [ ]:
mov.title.sort_values(ascending = False)

In [ ]:
mov.sort_values(['star_rating', 'duration'], ascending = [False , True])

In [ ]:
mov[mov.genre.isin(['Crime', 'Drama'])]

In [ ]:
mov

In [12]:
import pandas as pd

In [13]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [3]:
drinks.drop('continent', axis=1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [4]:
drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [16]:
#Axis is movement of operation 0 --> downwards

In [17]:
# String Methods in Pandas

In [18]:
import pandas as pd

In [20]:
orders = pd.read_table('http://bit.ly/chiporders')
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [23]:
orders.item_name.str.contains('Chips')

0        True
1       False
2       False
3        True
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [24]:
orders.choice_description.str.replace('[', '').str.replace(']', '')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
                              ...
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [25]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [27]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [29]:
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [31]:
drinks.groupby('continent').beer_servings.agg(['mean', 'max', 'min', 'count'])

                     mean    max   min  count
continent
Africa          61.471698  376.0   0.0     53
Asia            37.045455  247.0   0.0     44
Europe         193.777778  361.0   0.0     45
North America  145.434783  285.0   1.0     23
Oceania         89.687500  306.0   0.0     16
South America  175.083333  333.0  93.0     12

In [36]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [37]:
movies.genre.describe()

count       979
unique       16
top       Drama
freq        278
Name: genre, dtype: object

In [38]:
movies.genre.value_counts()

genre
Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: count, dtype: int64

In [39]:
movies.genre.value_counts(normalize=True)

genre
Drama        0.283963
Comedy       0.159346
Action       0.138917
Crime        0.126660
Biography    0.078652
Adventure    0.076609
Animation    0.063330
Horror       0.029622
Mystery      0.016343
Western      0.009193
Sci-Fi       0.005107
Thriller     0.005107
Film-Noir    0.003064
Family       0.002043
History      0.001021
Fantasy      0.001021
Name: proportion, dtype: float64

In [40]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

In [41]:
movies.duration.describe()

count    979.000000
mean     120.979571
std       26.218010
min       64.000000
25%      102.000000
50%      117.000000
75%      134.000000
max      242.000000
Name: duration, dtype: float64

In [43]:
import pandas as pd

In [42]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [44]:
ufo.tail()

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [46]:
ufo.isnull().tail()

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

In [47]:
ufo.notnull().tail()

       City  Colors Reported  Shape Reported  State  Time
18236  True            False            True   True  True
18237  True            False            True   True  True
18238  True            False           False   True  True
18239  True             True            True   True  True
18240  True            False            True   True  True

In [50]:
ufo.isnull().sum(axis=1)

0        1
1        1
2        1
3        1
4        1
        ..
18236    1
18237    1
18238    2
18239    0
18240    1
Length: 18241, dtype: int64

In [49]:
pd.Series([True, False, True]).sum()

2

In [51]:
ufo.shape

(18241, 5)

In [52]:
ufo.dropna(how='any').shape

(2486, 5)

In [55]:
ufo.dropna(subset = ['City', 'Shape Reported'], how='all').shape

(18237, 5)

In [58]:
ufo['Shape Reported'].fillna(value = 'VARIOUS').value_counts()

Shape Reported
VARIOUS      2977
LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
DOME            1
PYRAMID         1
FLARE           1
HEXAGON         1
Name: count, dtype: int64

# Indices

Identification
Selection
Alignment

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry")

In [13]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [4]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [5]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [6]:
drinks.shape

(193, 6)

Index isnt part of the Data frame.

In [7]:
drinks[drinks.continent == 'South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
6,Argentina,193,25,221,8.3,South America
20,Bolivia,167,41,8,3.8,South America
23,Brazil,245,145,16,7.2,South America
35,Chile,130,124,172,7.6,South America
37,Colombia,159,76,3,4.2,South America
52,Ecuador,162,74,3,4.2,South America
72,Guyana,93,302,1,7.1,South America
132,Paraguay,213,117,74,7.3,South America
133,Peru,163,160,21,6.1,South America
163,Suriname,128,178,7,5.6,South America
185,Uruguay,115,35,220,6.6,South America
188,Venezuela,333,100,3,7.7,South America

In [8]:
drinks.loc[23, 'beer_servings']

245

.loc for finding specific data

In [10]:
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [16]:
drinks = pd.read_csv("http://bit.ly/drinksbycountry")

In [17]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [18]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [19]:
drinks = drinks.set_index('country')
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [21]:
drinks.continent.value_counts()['Africa']

53

In [23]:
drinks.continent.value_counts().sort_values()

continent
South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: count, dtype: int64

In [22]:
drinks.continent.value_counts().sort_index()

continent
Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: count, dtype: int64

In [26]:
people = pd.Series([30000, 8500], index =['Albania', 'Andorra'], name = 'Population')
people

Albania    30000
Andorra     8500
Name: Population, dtype: int64

In [27]:
drinks.beer_servings * people

Afghanistan          NaN
Albania        2670000.0
Algeria              NaN
Andorra        2082500.0
Angola               NaN
                 ...
Venezuela            NaN
Vietnam              NaN
Yemen                NaN
Zambia               NaN
Zimbabwe             NaN
Length: 193, dtype: float64

In [28]:
pd.concat([drinks, people], axis =1).head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,30000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,8500.0
Angola,217,57,45,5.9,Africa,NaN

Selecting rows and columns loc, iloc, ix

In [29]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

Row no. 0 and all columns, inclusive all ends

In [30]:
ufo.loc[0,:]

City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

In [31]:
ufo.loc[0:2,:]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [33]:
ufo.loc[:,['City', 'State']]

                       City State
0                    Ithaca    NY
1               Willingboro    NJ
2                   Holyoke    CO
3                   Abilene    KS
4      New York Worlds Fair    NY
...                     ...   ...
18236            Grant Park    IL
18237           Spirit Lake    IA
18238           Eagle River    WI
18239           Eagle River    WI
18240                  Ybor    FL

[18241 rows x 2 columns]

In [35]:
ufo.loc[0:5,'City':'State']

                   City Colors Reported Shape Reported State
0                Ithaca             NaN       TRIANGLE    NY
1           Willingboro             NaN          OTHER    NJ
2               Holyoke             NaN           OVAL    CO
3               Abilene             NaN           DISK    KS
4  New York Worlds Fair             NaN          LIGHT    NY
5           Valley City             NaN           DISK    ND

In [37]:
ufo.loc[ufo.City == 'Oakland', 'State']

1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

iloc finding from integers (Columns can be used with integers) exclusive of end

ix  it will identify intgers and words for filtering positions, (not recommended)

In [ ]:
ufo.drop

In [38]:
ufo.dropna()

               City Colors Reported Shape Reported State              Time
12           Belton             RED         SPHERE    SC   6/30/1939 20:00
19       Bering Sea             RED          OTHER    AK   4/30/1943 23:00
36       Portsmouth             RED      FORMATION    VA    7/10/1945 1:30
44        Blairsden           GREEN         SPHERE    CA   6/30/1946 19:00
82         San Jose            BLUE        CHEVRON    CA   7/15/1947 21:00
...             ...             ...            ...   ...               ...
18213      Pasadena           GREEN       FIREBALL    CA  12/28/2000 19:10
18216  Garden Grove          ORANGE          LIGHT    CA  12/29/2000 16:10
18220   Shasta Lake            BLUE           DISK    CA  12/29/2000 20:30
18233     Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18239   Eagle River             RED          LIGHT    WI  12/31/2000 23:45

[2486 rows x 5 columns]

In [39]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

No need for inplace, just assign

In [ ]:
ufo.fillna

In [ ]:
ufo.